/* remove default margin, paddings and borders */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Recursive, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */
h1 {
    font-family: satisfy, cursive, sans-serif;
    letter-spacing: 12px;
    text-transform: capitalize;
    color: rgb(127, 49, 63);
}

#logo {
    float: left;
    font-size: 330%;
    margin-left: 30px;
}

h2 {
    font-family: Recursive, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #252525;
}

/* navigation links */
#menu {
    float: right;
    font-size: 115%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 90px;
}

#menu li {
    display: inline-block;
    /*float right removed*/
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: #3a3a3a 1px solid;
}

#nav-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
}

/* Main or hero section */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-color: #cac9d2;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/coffee-fruits.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* animation effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* animation - create the level of zoom for hero-image */
@keyframes hero-zoom {

    from {
        transform: scale(0.6);
        opacity: .6;
    }

    to {
        transform: scale(1.0);
    }
}

#cover-text {
    font-size: 180%;
    font-weight: 900;
    font-family: Recursive, sans-serif;
    letter-spacing: 4px;

    width: 600px;
    height: 220px;

    padding-top: 40px;
    padding-left: 15px;
    top: 120px;
    right: 100px;
    position: absolute;

    background: #3a3a3a;
    opacity: 0.4;
    border-radius: 0.3rem;
}

#club-ethos {
    height: 700px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

.center-about-heading {
    width: 100%;
    text-align: justify;
    line-height: 26px;
    height: 400px;
}

.center-about-heading h2 {
    text-align: left;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0 10px;
}

#left-eclipse-container {
    width: 300px;
    height: 400px;
    padding: 30px;
    border: solid #ccc 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#left-eclipse-cover-bg {
    background: url(../images/ethos-coffee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 400px;
    width: 300px;
    height: 400px;
    border-radius: 50%;
}

#right-container {
    width: 300px;
    height: 400px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    margin: 0 auto;
}

#right-cover-bg {
    background: url(../images/library-corner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 600px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 250%;
}

h2 i {
    font-size: 80%;
}

/* footer */
footer {
    height: 150px;
    padding-top: 2%;
}

#footer-div {
    width: 100%;
    height: 30px;
}

#copyright {
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 2.5rem;
    margin: 1%;
    padding: 1%;
    color: #3a3a3a;
}

/* gallery */
#cafe-gallery {
    height: auto;
    width: 100%;
    overflow: hidden;
    background: #cac9d2;
    position: relative;
}

#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16PX;
    max-width: 1168px;
    margin: 0 auto;
    padding: 16px 0;
}

#photos img {
    width: 100%;
    max-width: 260px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

#photos .image:hover {
    opacity: 0.5;
}


/* cafe menu */
#cafe-menu {
    height: 1150px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/coffee-bean-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

#drinks-container,
#foods-container {
    width: 65%;
    background: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border: 5px solid burlywood;
    border-radius: 0.5rem;
}

#drinks-container {
    height: 400px;
    margin-top: 90px;
}

#foods-container {
    height: 540px;
    margin-top: 20px;
}

#drinks-header {
    width: 60%;
    padding: 20px 0;
    text-align: center;
    height: 60px;
    line-height: 30px;
    margin: 0 auto;
}

#drinks-header h2 {
    letter-spacing: 2px;
}

#drinks-header p {
    font-size: 18px;
    letter-spacing: 2px;
}

#drinks-menu {
    width: 100%;
    overflow: hidden;
    position: relative;
    clear: both;
}

#hot-drinks {
    width: 50%;
    float: left;
}

#cold-drinks {
    width: 50%;
    float: right;
}

#drinks-menu h3 {
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px;
}

.drinks {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    max-width: 500px;
    border-top: solid #252525 2px;
    line-height: 8px;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 13px;
}

.flavor {
    text-align: left;
    width: 70%;
}

.price {
    text-align: right;
    width: 25%
}

.item-choice li {
    list-style-type: none;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
    line-height: 13px;
}

.item-choice i {
    font-size: 12px;
    color: #3a3a3a;
}

#foods-header {
    width: 60%;
    padding: 20px 0;
    text-align: center;
    height: 90px;
    line-height: 30px;
    margin: 0 auto;
}

#foods-header h2 {
    letter-spacing: 2px;
}

#foods-header p {
    font-size: 16px;
    letter-spacing: 2px;
}

#foods-menu-first,
#foods-menu-third {
    float: left;
}

#foods-menu-second,
#foods-menu-fourth {
    float: right;
}

#foods-menu-first,
#foods-menu-second {
    width: 50%;
    height: 180px;
}

#foods-menu-third,
#foods-menu-fourth {
    width: 50%;
    height: 200px;
}

.foods-type {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    max-width: 500px;
    line-height: 8px;
}

/* contact us */

#contact-container {
    height: 650px;
    width: 100%;
    background-color: #cac9d2;
    overflow: hidden;
}

#quote {
    width: 100%;
    height: 160px;
    padding: 20px 0;
    display: block;
    justify-content: center;
    margin: auto;
}

#quote h2 {
    color: #3a3a3a;
    font-size: 180%;
    text-align: center;
    letter-spacing: 4px;
    line-height: 40px;
}

#contact-us {
    width: 90%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#contact-image {
    width: 33%;
    height: 450;
    overflow: hidden;
}

#contact-image img {
    max-width: 100%;
    height: 450px;
    border-radius: 0.3rem
}

#contact-detail {
    width: 33%;
    height: 400px;
    text-align: center;
    margin: 0 auto;
}

#contact-detail h3 {
    letter-spacing: 6px;
    line-height: 30px;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.address {
    padding: 20px 0;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 28px;
    font-size: 1rem;
}

.email-address a {
    text-decoration: none;
    color: #3a3a3a;
    font-weight: 700;
}

.email-address a:hover {
    color: red;
}

.telephone a {
    text-decoration: none;
    color: #3a3a3a;
    font-weight: 700;
}

.telephone a:hover {
    color: red;
}

#location {
    width: 33%;
    height: 400px;
    display: inline;
    float: right;
}

#location img {
    /* background-image: url(../images/map.png); */
    max-width: 100%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 0.3rem;
    margin: 0 30px;
}

/* sign up for our book club */

#signup-container {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

#signup-welcome {
    width: 80%;
    height: 140px;
    margin: 0 auto;
}

#signup-welcome h2 {
    text-align: center;
    letter-spacing: 4px;
    padding: 10px 0;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
}

#signup-welcome h3 {
    max-width: 100%;
    width: 520px;
    text-align: center;
    height: 30px;
    margin: 0 auto;
    letter-spacing: 1px;
}

#signup-welcome h4 {
    max-width: 100%;
    width: 520px;
    height: 10px;
    margin: 0 auto;
    letter-spacing: 1px;
    text-align: center;
}

#book-club-container {
    width: 80%;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}

#book-club-image {
    width: 50%;
    height: auto;
    float: left;
}

#book-club-image img {
    max-width: 90%;
    width: 400px;
    height: auto;
    overflow: hidden;
    float: right;
    border-radius: 1%;
    padding: 20px 80px 20px 0;
}

#signup-form {
    width: 50%;
    height: auto;
    display: inline;
    float: right;
}

label {
    font-size: 16px;
    display: block;
    width: 80%;
    padding: 5px 0;
    margin-left: 80px;
    line-height: 30px;
}

input {
    display: block;
    line-height: 20px;
    padding: 5px 0;
    width: 100%;
    border: solid 1px #cac9d2;
    border-radius: 3px;
    font-size: 16px;
}

input[type=text] {
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type=email] {
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
}

input:hover {
    background: #cac9d2;
}

input:focus {
    background: ivory;
    color: #3a3a3a;
}

textarea {
    padding: 10px 15px;
    border: solid 1px #cac9d2;
    font-size: 16px;
    margin-left: 80px;
    margin-bottom: 30px;
    margin-top: 25px;
    width: 75%;
}

#submit {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    margin-left: 80px;
    font-size: 20px;
    background: #a8a8a8;
    box-shadow: 0 4px #cac9d2;
}

#submit:hover {
    background: #a1a1a1;
}

#submit:active {
    background: #3a3a3a;
    box-shadow: 0 5px #cac9d2;
    transform: translateY(4px);
}

/* media queries  */

/*Desktop Query*/
@media screen and (max-width: 1200px) {

    /* media for ethos */
    #club-ethos {
        width: 65%;
        height: 1550px;
        margin: 0 auto
    }

    #cover-text {
        right: 50px;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 10px;
        margin-top: 10px;
    }

    hr {
        display: none;
    }

    /* media for gallery */
    #cafe-gallery {
        height: auto;
        width: 100%;
    }

    #photos {
        padding-top: 12px;
        gap: 12px;
    }

    #photos .image:hover {
        opacity: 0.5;
    }

    /* media for menu */
    .item p {
        font-size: 16px;
        line-height: 13px;
    }

    .item-choice li {
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 16px;
        line-height: 13px;
    }

    #drinks-header p,
    #foods-header p {
        font-size: 18px;
        letter-spacing: 2px;
    }

    #drinks-menu h3 {
        font-size: 18px;
    }

    #drinks-container,
    #foods-container {
        width: 70%;
    }

    #drinks-container {
        height: 410px;
        margin-top: 90px;
    }

    #foods-container {
        height: 590px;
    }

    #cafe-menu {
        background-image: url(../images/coffee-bean-landscape.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1200px;
    }

    #contact-image img {
        max-width: 100%;
        width: 500px;
        object-fit: cover;
    }

    #location>iframe {
        max-width: 100%;
        width: 500px;
        object-fit: cover;
    }

    #quote {
        width: 100%;
    }

    #contact-us {
        width: 80%;
    }

    /* media queries for sign up */

    #signup-container {
        height: 800px;
    }

    #book-club-container {
        width: 90%;
        height: 650px;
    }

    #book-club-image img {
        padding: 20px 20px 20px 0;
    }

    #submit,
    label,
    textarea {
        margin-left: 50px;
    }

    #submit {
        background: #a8a8a8;
        box-shadow: 0 4px #cac9d2;
    }

    #submit:hover {
        background: #a1a1a1;
    }

    #submit:active {
        background: #3a3a3a;
        box-shadow: 0 5px #cac9d2;
        transform: translateY(4px);
    }

}

/* for medium screen size from 950px and down */

@media only screen and (min-width: 481px) and (max-width: 950px) {

    #menu {
        clear: both;
        float: right;
        margin-left: 30px;
        margin-bottom: 25px;
        line-height: 70px;
        font-size: 115%;
        letter-spacing: 2px;
        /* margin-right: 5px; */
    }

    #menu li {
        margin: 0;
        padding: 0 1px;
        font-size: 90%;
    }

    #nav-div {
        margin-right: 30px;
    }

    #cover-text {
        left: 0;
        font-size: 120%;
        letter-spacing: 4px;

        width: 450px;
        height: 150px;
    }

    /* media for ethos */

    #club-ethos {
        width: 65%;
        height: 1950px;
        margin: 0 auto;
    }

    #hero-outer {
        height: 500px;
    }

    #hero-image {
        height: 500px;
    }

    .center-about-heading {
        width: inherit;
        height: 700px;
    }

    .center-about-heading h2 {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .center-about-heading p {
        text-align: justify;
        padding: 0 20px;
    }

    /* media for gallery */
    #cafe-gallery {
        height: auto;
        width: 100%;
    }

    #photos {
        padding-top: 12px;
        gap: 12px;
    }

    #photos img {
        width: 100%;
        max-width: 260px;
        height: 320px;
    }

    /* media for menu */
    .item p {
        font-size: 12px;
        line-height: 10px;
    }

    #drinks-header p,
    #foods-header p {
        font-size: 14px;
        letter-spacing: 1px;
    }

    #drinks-menu h3 {
        font-size: 16px;
    }

    .item-choice li {
        font-size: 12px;
    }

    #drinks-container,
    #foods-container {
        width: 82%;
    }

    #drinks-container {
        height: 400px;
        margin-top: 80px;
    }

    #foods-container {
        height: 550px;
    }

    #cafe-menu {
        background-image: url(../images/coffee-bean-landscape.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1150px;
    }

    /* media for contact us */
    #contact-container {
        height: 1500px;
        width: 100%;
    }

    #contact-image {
        width: 80%;
        height: 450px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    #contact-detail {
        width: 80%;
        height: 400px;
        margin: 0 auto;
    }

    #location>iframe {
        max-width: 100%;
        width: 500px;
        object-fit: cover;
    }

    #quote {
        max-width: 90%;
        width: 600px;
        height: 100px;
    }

    #quote h2 {
        font-size: 120%;
        text-align: left;
        letter-spacing: 4px;
        line-height: 30px;
    }

    #contact-us {
        max-width: 100%;
        width: 500px;
        height: auto;
        display: block;
    }

    #location {
        width: 80%;
        height: 400px;
        margin: 0 10px;
        float: none;
    }

    /* media quries for sign up form */

    #signup-form {
        clear: left;
        float: left;
    }

    #signup-container {
        height: auto;
    }

    #book-club-container {
        height: auto;
    }

    #book-club-image {
        width: 100%;
    }

    #book-club-image img {
        padding: 20px;
        float: none;
    }

    #submit,
    label,
    textarea {
        margin-left: 20px;
    }

    textarea {
        width: 76%;
    }

    input {
        display: block;
        line-height: 20px;
        padding: 5px 0;
        width: 100%;
        border: solid 1px #cac9d2;
        border-radius: 3px;
        font-size: 16px;
    }

    #signup-form {
        width: 100%;
    }

    #submit {
        background: #a8a8a8;
        box-shadow: 0 4px #cac9d2;
    }

    #submit:hover {
        background: #a1a1a1;
    }

    #submit:active {
        background: #3a3a3a;
        box-shadow: 0 5px #cac9d2;
        transform: translateY(4px);
    }
}

/* mobile queries */
@media only screen and (max-width: 481px) {
    h1 {
        font-family: satisfy, cursive, sans-serif;
        letter-spacing: 12px;
        text-transform: capitalize;
        color: rgb(127, 49, 63);
    }

    #logo {
        float: left;
        font-size: 200%;
    }

    /* navigation links */
    #menu {
        clear: both;
        float: none;
        margin-left: 30px;
        font-size: 90%;
        letter-spacing: 1px;
    }

    #menu li {
        margin: 0;
        padding-right: 1px;
    }

    #nav-div {
        display: flex;
        flex-direction: column;
        float: left;
        line-height: 70px;
    }

    /* Main or hero section */
    #hero-outer {
        height: 300px;
    }

    #hero-image {
        height: 300px;
    }

    #cover-text {
        font-size: 80%;
        letter-spacing: 2px;
        width: 300px;
        height: 100px;
        top: 80px;
        padding-top: 20px;
    }

    #club-ethos {
        height: 1620px;
        width: 75%;
    }

    #left-about,
    #right-about,
    #center-about {
        padding-top: 20px;
    }

    .center-about-heading {
        line-height: 20px;
        height: 680px;
    }

    .center-about-heading h2 {
        text-align: left;
        font-size: 90%;
        letter-spacing: 1px;
        margin-left: 4px;
    }

    .center-about-heading p {
        font-size: 80%;
    }

    #left-eclipse-container {
        width: 230px;
        height: 330px;
        padding: 22px;
        margin: 0 auto;
    }

    #left-eclipse-cover-bg {
        background-size: 250px;
        width: 230px;
        height: 330px;
    }

    #right-container {
        width: 230px;
        height: 330px;
        padding: 22px;
    }

    #right-cover-bg {
        background-size: 450px;
        width: 230px;
        height: 330px;
    }

    #welcome {
        margin: 10px 0;
        font-size: 125%;
        padding: 15px 0;
    }

    /* footer */

    footer {
        height: 160px;
    }

    #footer-div {
        height: 20px;
    }

    #copyright {
        font-size: 80%;
    }

    #copyright p {
        margin: 0 auto;
        padding-top: 10px;
    }

    .social-networks i {
        font-size: 160%;
        line-height: 30px;
        padding-bottom: 30px;
    }

    /* cafe menu mobile media */

    #cafe-menu {
        height: 1780px;
    }

    #drinks-container {
        height: 680px;
        margin-top: 90px;
    }

    #foods-container {
        height: 880px;
        margin-top: 20px;
    }

    #drinks-header {
        width: 70%;
    }

    #drinks-header h2 {
        letter-spacing: 2px;
        font-size: 18px;
    }

    #drinks-header p {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
    }

    #drinks-menu {
        height: 600px;
    }

    #hot-drinks {
        width: 100%;
        float: left;
        height: 300px;
    }

    #cold-drinks {
        width: 100%;
        float: left;
        height: 300px;
    }

    #drinks-menu h3 {
        text-align: center;
        line-height: 30px;
        letter-spacing: 2px;
        font-size: 16px;
    }

    .item p {
        font-size: 13px;
        line-height: 12px;
    }

    .item-choice li {
        font-size: 13px;
        line-height: 12px;
    }

    #foods-header h2 {
        letter-spacing: 2px;
        font-size: 18px;
    }

    #foods-header p {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
    }

    #foods-menu-first,
    #foods-menu-third {
        float: left;
    }

    #foods-menu-second,
    #foods-menu-fourth {
        float: left;
    }

    #foods-menu-first,
    #foods-menu-second {
        width: 100%;
        height: 160px;
    }

    #foods-menu-third,
    #foods-menu-fourth {
        width: 100%;
        height: 250px;
    }

    /* media for contact us*/

    #quote h2 {
        font-size: 110%;
        letter-spacing: 2px;
        text-align: left;
    }

    #quote {
        width: 500px;
        max-width: 90%;
    }

    #contact-container {
        height: 1500px;
        width: 100%;
    }

    #contact-image {
        width: 80%;
        height: 400px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    #contact-detail {
        width: 80%;
        height: 350px;
        margin: 0 auto;
    }

    #contact-detail h3 {
        margin-top: 20px;
    }

    #location iframe {
        max-width: 90%;
        width: 350px;
        object-fit: cover;
        margin: 0 20px;

    }

    #contact-us {
        max-width: 100%;
        width: 500px;
        height: auto;
        display: block;
    }

    #location {
        width: 80%;
        height: 400px;
        margin: 0 10px;
        float: none;
    }


    /* media quries for sign up form */

    #signup-welcome h2 {
        text-align: left;
    }

    #signup-welcome h3 {
        text-align: left;
    }

    #signup-form {
        clear: left;
        float: left;
    }

    #signup-container {
        height: auto;
    }

    #book-club-container {
        height: auto;
    }

    #book-club-image {
        max-width: 100%;
        width: 400px;
        display: block;
    }

    #book-club-image img {
        margin: 0 auto;
        padding: 20px;
        float: none;
    }

    #submit,
    label,
    textarea {
        margin-left: 20px;
    }

    input {
        /* display: block;
        line-height: 20px;
        padding: 5px 0; */
        width: 100%;
        /* border: solid 1px #cac9d2;
        border-radius: 3px;
        font-size: 16px; */
    }

    textarea {
        width: 73%;
    }

    #signup-form {
        width: 100%;

    }

    #submit:active {
        background: #3a3a3a;
        box-shadow: 0 8px #cac9d2;
        transform: translateY(4px);
    }

}

/* (max-width: 481px) - Ln 1079
(min-width: 481px) and (max-width: 950px) - Ln838
 (max-width: 1200px) - Ln 685 */